/*container div*/

.contenedorheader {
  display: flex; /*place the boxes as cells*/
  background-color: rgb(68, 60, 60); /* change background color */
  background-image: linear-gradient(
    rgb(68, 60, 60),
    rgb(111, 111, 100)
  ); /*set background images for an element*/
  justify-content: space-around; /*distribute space between flex items*/
}

/*profile picture div*/

.foto {
  width: 100px; /*image width 100px */
  height: 100px; /*image height 100px */
  border-radius: 50px; /*create a circular border*/
}

/*name of profile div*/

.kevin {
  color: white; /*change the font to white */
  font-family: Lucida Console; /* Set text color to red */
}

/*additional information div*/

.puesto {
  color: darkgray; /* Set text color to red */
}

/*body div*/

.father {
  display: flex; /*place the boxes as cells*/
}

/*first div*/

.son1 {
  background-color: rgb(225, 228, 241); /* change background color */
  width: 35%; /*image width 100px */
}

/*second div*/

.son2 {
  background-color: rgb(236, 237, 243); /* change background color */
  width: 100%; /*image width 100px */
}

/*left div*/

.left {
  width: 80%; /*image width 100px */
  margin-left: 10px; /* Set text color to red */
}

/*right div*/

.right {
  margin-left: 50px; /*sets the margin from left to right*/
  margin-right: 50px; /*sets the margin from left to right*/
}
