.Profile{
    width: 190px;
    height: 190px;
    border-radius: 50px;
    width: 190px;
    height: 190px;
    position: absolute;
    left: 40px;
    top: 10px;
}
.contact{
    border-bottom: 15px;
    text-decoration: underline;
    position: absolute;
    left: 50px;
    top: 200px;
}
.parra1{
    position: absolute;
    left: 45px;
    top: 245px;
}
.parra2{
    position: absolute;
    left: 45px;
    top: 270px;
}
.contact2{
    text-decoration: underline;
    position: absolute;
    left: 45px;
    top: 300px;}
.pollo{
    position: absolute;
    top: 340px;
    left: 45px;
}
.papasfritas{
    position: absolute;
    top: 450px;
    left: 45px;
    text-decoration: underline;
}
.Initial{
    background-image: url(https://thumbs.gfycat.com/AncientSevereKitten-size_restricted.gif);
    background-size: cover;
    width: 290px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.idiomas{
    position: absolute;
    top: 490px;
    left: 45px;}
.nombre{
    position: absolute;
    left: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    border-bottom: 2px solid black;
}
.resumen{
    position: absolute;
    top: 110px;
    left: 335px;
    font-family: Arial, Helvetica, sans-serif;}
.info{
    position: absolute;
    left: 335px;
    top: 140px;
border-bottom: 3px solid black;}
.trevor{
    position: absolute;
    top: 200px;
    left: 335px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
}
.hotel{
    position: absolute;
    left: 335px;
    top: 250px ;
border-right: 3px solid black;
width: 230px;
}
.macopa{
    position: absolute;
    top: 250px;
    left: 650px;
    border-right: 3px solid black;
    width: 230px;
}
.ciclo{
    position: absolute;
    top: 250px;
    right: 100px;
}
.formacion{
    position: absolute;
    top: 425px;
    left: 325px;
    font-family: Arial, Helvetica, sans-serif;
}
.formaciontexto{
    position: absolute;
    top: 490px;
    left: 325px;
}
.socialMedia{
    position: absolute;
    top: 425px;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.facebook{
    position: absolute;
    top: 470px;
    right: 320px;
    font-size: 20px;
}
.link1:hover{
    color: rgb(253, 0, 0);
}

#boton{
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 70px;
}
